<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notion Content Management System</title>
</head>
<body>
    <h1>Hello, Welcome to my NotionAPI CMS Project!</h1>
    <form action="/notion_authentication" method="post">
        <!-- <label for="notion_token">Notion Token:</label>
        <input type="text" id="notion_token" name="notion_token"><br><br>
        <label for="notion_page_id">Notion Page ID:</label>
        <input type="text" id="notion_page_id" name="notion_page_id"><br><br> -->
        <input type="submit" value="Submit">
    </form>
</body>
</html>